{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="profile-page">
    <form method="post" class="profile-form">
        <h2 id="profile-heading">Profile</h2>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% for error in field.errors %}
            <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn-change">Change Password</button>
        <div class="btn-actions">
            <a href="{% url 'users:profile' %}" class="custom-button">Back to profile</a>
        </div>
    </form>
</div>
{% endblock %}