{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/info.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'main/css/login.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="info-page">
    <h2 class="info-page-header">Password Reset Successful</h2>
    <p class="info-page-text">Your password has been successfully reset. You can now log in with your new password.</p>
    <a href="{% url 'users:login' %}" class="btn-login">Log in</a>
</div>
{% endblock %}