{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/info.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'main/css/login.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="info-page">
    <h2 class="info-page-header">Check Your Email</h2>
    <p class="info-page-text">If an account exists with the email provided, you will receive a password reset link
        shortly.</p>
    <a href="{% url 'users:login' %}" class="btn-back-to-login">Back to Login</a>
</div>
{% endblock %}

