{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/profile.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="profile-page">
    <form method="post" enctype="multipart/form-data" class="profile-form">
        <h2 id="profile-heading">Profile</h2>
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            <div class="help-text">{{ field.help_text }}</div>
            {{ field.errors }}
        </div>
        {% endfor %}
        <button type="submit" class="btn-change">Save Changes</button>
        <div class="btn-actions">
            <a href="{% url 'users:change_password' %}" class="custom-button">Change Password</a>
            <a href="{% url 'users:delete_account' %}" class="btn-delete">Delete Account</a>
        </div>
    </form>
</div>
{% endblock %}

