{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <title>KehoSense</title>
    {% block extra_css %}
    {% endblock %}
    <meta name="theme-color" content="#78C837">
</head>
<body data-lang="ru">
{% include 'main/includes/header.html' %}
{% block content %}
{% endblock %}
{% block extra_js %}
{% endblock %}
</body>
</html>
