{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/dashboard.css' %}" media="screen">
{% endblock %}
{% block content %}
<form method="get" action="" class="dates-form">
    <h2>Choose Dates and Time</h2>
    <label for="date_from">From:</label>
    <input
        type="datetime-local"
        id="date_from"
        name="date_from"
        value="{{ date_from|date:'Y-m-d\TH:i'|default:'' }}"
        required
    >

    <label for="date_to">To:</label>
    <input
        type="datetime-local"
        id="date_to"
        name="date_to"
        value="{{ date_to|date:'Y-m-d\TH:i'|default:'' }}"
        required
    >

    <button type="submit" class="btn-filter">Filter</button>
</form>

<table>
    <tr>
        <th>#</th>
        <th>Email</th>
        <th>Display Name</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.display_name }}</td>
        <td>
            {% if date_from and date_to %}
            {% if user.telemetry_filtered.exists %}
            ✔ Data found
            {% else %}
            ✖ Data not found
            {% endif %}
            {% else %}
            No filter applied
            {% endif %}
        </td>
        <td>
            {% if date_from and date_to %}
            {% if user.telemetry_filtered.exists %}
            <a href="{% url 'main:user_details' user.id %}?date_from={{ date_from|date:'Y-m-d\TH:i' }}&date_to={{ date_to|date:'Y-m-d\TH:i' }}">View Details</a>
            {% else %}
            No data found
            {% endif %}
            {% else %}
            No filter applied
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}