{% extends 'main/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/user_details.css' %}" media="screen">
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="column">
            <h1>Details for {{ user.email }}</h1>
            <h1>Period from {{ date_from|date:"d M Y H:i" }} to {{ date_to|date:"d M Y H:i" }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="column map-container">
            <div id="map">{{ map_html|safe }}</div>
        </div>
        <div class="column chart-container">
            <canvas id="temperatureChart"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <p><strong>Average Ambient Temperature:</strong></p>
            <p>{{ average_ambient_temperature }} ± {{ stddev_ambient_temperature }}°C</p>
        </div>
        <div class="column">
            <p><strong>Average Target Temperature:</strong></p>
            <p>{{ average_target_temperature }} ± {{ stddev_target_temperature }}°C</p>
        </div>
        <div class="column">
            <p><strong>Average Current Temperature:</strong></p>
            <p>{{ average_current_temperature }} ± {{ stddev_current_temperature }}°C</p>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <p><strong>Location:</strong></p>
            <p>{{ current_weather.location }}</p>
        </div>
        <div class="column">
            <p><strong>Ambient Temperature:</strong></p>
            <p>{{ current_weather.temperature }}°C</p>
        </div>
        <div class="column">
            <p><strong>Humidity:</strong></p>
            <p>{{ current_weather.humidity }}</p>
        </div>
        <div class="column">
            <p><strong>Wind Speed:</strong></p>
            <p>{{ current_weather.wind_speed }}</p>
        </div>
        <div class="column">
            <p><strong>Condition:</strong></p>
            <p>{{ current_weather.condition }}</p>
        </div>
        <div class="column">
            <p><strong>Last Updated:</strong></p>
            <p>{{ current_weather.last_updated }}</p>
        </div>
    </div>
        <div class="row">
        <div class="column">
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Time</th>
                        <th>Target Temperature (°C)</th>
                        <th>Current Temperature (°C)</th>
                        <th>Mode</th>
                    </tr>
                </thead>
                <tbody>
                    {% for telemetry in telemetry_data %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ telemetry.timestamp }}</td>
                            <td>{{ telemetry.target_temperature }}</td>
                            <td>{{ telemetry.current_temperature }}</td>
                            <td>{{ telemetry.mode }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    </div>
</div>


{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation"></script>
<script>
    var telemetry = JSON.parse('{{ markers|escapejs }}');
</script>
<script src="{% static 'main/js/map-and-graph.js' %}"></script>
{% endblock %}