{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/main_header.css' %}">
{% endblock %}
<header>
    <div class="header-content">
        <div class="logo">
            <a href="{% url 'main:dashboard' %}">
                <span>KehoSense</span>
            </a>
        </div>
        <div class="menu">
            <a href="{% url 'main:dashboard' %}" class="{% if request.path == '/' %}active{% endif %}">dashboard</a>
        </div>
        <div class="menu">
            <a href="{% url 'main:client_data' %}" class="{% if request.path == '/' %}active{% endif %}">fetch data</a>
        </div>
    </div>
</header>