@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

h1 {
    text-align: center;
    background-color: #F9FCF8;
    font-family: 'Raleway', sans-serif;
    color: #0a1005;
    padding: 20px 0px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

table {
    width: 1200px;
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
    color: #0a1005;
    margin: 20px auto;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
}

th, td {
    border: 1px solid #0a1005;
    padding: 8px;
}

th {
    background-color: #F9FCF8;
}

tr:hover {
    background-color: #d6bfff;
}
.dates-form {
    margin: 30px auto;
    background-color: #F9FCF8;
    font-family: 'Raleway', sans-serif;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 1200px;
}

.dates-form h2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 28px;
    color: #0A1005;
    margin-bottom: 20px;
}

.dates-form .form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.dates-form .form-label {
    font-size: 16px;
    font-weight: 600;
    color: #0A1005;
}

.dates-form input {
    font-family: 'Raleway', sans-serif;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #1EB32D;
    border-radius: 4px;
    box-sizing: border-box;
    width: 30%;
    min-width: 150px;
}

.dates-form input:focus {
    border-color: #1EB32D;
    outline: none;
    box-shadow: 0 0 8px rgba(30, 179, 45, 0.5);
}

.dates-form input:hover {
    border-color: #1EB32D;
    outline: none;
    box-shadow: 0 0 8px rgba(30, 179, 45, 0.5);
}

.dates-form .btn-filter {
    background-color: #78C837;
    color: #0A1005;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 15%;
    min-width: 120px;
}

.dates-form .btn-filter:hover {
    background-color: #0A1005;
    color: #78C837;
    font-weight: bold;
}