@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F9FCF8;
}

header {
    position: sticky;
    top: 0;
    background-color: #F9FCF8;
    padding: 10px 20px;
    border-bottom: 3px solid #7AC839;
    z-index: 1000;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

.logo span {
    font-family: "Chakra Petch", sans-serif;
    font-size: 36px;
    color: #0A1005;
}

.logo span:hover {
    font-family: "Chakra Petch", sans-serif;
    font-size: 36px;
    color: #7AC839;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.menu {
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    color: #0A1005;
}

.menu:hover,
.menu:focus {
    font-family: "Chakra Petch", sans-serif;
    font-size: 20px;
    color: #7AC839;
}

