@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

h1 {
    font-family: 'Raleway', sans-serif;
    color: #0a1005;
    font-size: 20px;
    align-items: center;
    text-align: center;
}

.map-container {
    width: 50%;
    height: 50%;
    border: 1px solid #0a1005;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.chart-container {
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.column {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.column p {
    font-family: 'Raleway', sans-serif;
    color: #0a1005;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .row {
        flex-direction: column;
    }

    .map-container, .chart-container {
        margin-bottom: 20px;
    }
}